@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400; /* Regular */
}

.custom-button {
  height: 48px;
  width: fit-content;
  margin: 5px;
  border: none;
  background: linear-gradient(to left, #ff6d33 50%, #e63900 50%);
  background-size: 200% 100%;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-position 2s;
}

.custom-button:hover {
  background-position: -100% 0;
}

.product-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.product-card:hover {
  transform: translateY(-4px);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.product-image {
  max-width: 100%;
  height: auto;
}

.product-name {
  margin-top: 8px;
  font-size: 18px;
}

.product-price {
  margin-top: 4px;
  font-size: 16px;
  color: #4a90e2;
}
